.island {
  align-items: center;
  text-align: center !important;
  background-color: $island-bg-color !important;
  border: 2px solid $island-border-color;
  border-radius: 50%;
  display: flex;
  height: 4rem;
  justify-content: center;
  margin: auto;
  width: 4rem !important;
  cursor: pointer !important;
}

.square-island {
  align-items: center;
  text-align: center !important;
  background-color: $island-bg-color;
  border: 5px solid $island-border-color;
  border-radius: 10%;
  display: flex;
  height: 4rem;
  justify-content: center;
  margin: auto;
  width: 4rem !important;
  cursor: pointer;
}


.unavailable-island {
  align-items: center;
  text-align: center !important;
  background-color: $unavailable-island-bg-color !important;
  border: 2px solid $unavailable-island-border-color;
  border-radius: 50%;
  display: flex;
  height: 4rem;
  justify-content: center;
  margin: auto;
  width: 4rem !important;
  cursor: pointer;
}

.small-island {
  align-items: center;
  text-align: center !important;
  background-color: $island-bg-color;
  border: 2px solid $island-border-color;
  border-radius: 50%;
  display: flex;
  height: 3rem;
  justify-content: center;
  margin: auto;
  width: 3rem;
  cursor: pointer;
}

.island-display {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.island-text {
  color: $island-text-color;
  font-size: 2.25rem;
  font-weight: 300;
}

.small-island-text {
  color: $small-island-text-color;
  font-size: 2rem;
  font-weight: 200;
}

.start-with-text {
  color: $island-text-color;
  font-size: 1.25rem;
  font-weight: 300;
}
