.message-Component {
  align-items: center;
  background-color: $message-bg-color;
  border: 2px solid $message-border-color;
  height: 5rem;
  display: flex;
  justify-content: center;
  margin: auto 0 0 0;
  width: $pool-width;
  padding: auto 0 0 0;
}

.center-button {
  display: flex;
  justify-content: center;
}

.message-text {
  color: $message-text-color;
  font-size: 2.25rem;
  font-weight: 300;
}
